<div class="flex flex-col shadow-md rounded-xl  overflow-auto contenedor">
  <table mat-table class="w-full h-full" #table [dataSource]="dataSource" *transloco="let t" multiTemplateDataRows>

    <ng-container matColumnDef="master">
      <th *matHeaderCellDef mat-sort-header>
        {{t('matcheos.table.masterId')}}</th>
      <td mat-cell *matCellDef="let registro" class='m-card-title'>
        <strong class='has_label_on_mobile' [attr.data-label]="t('matcheos.table.masterId')+ ':'"></strong>
        <span class="text-base">{{registro.master}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-sort-header>
        {{t('matcheos.table.id')}}</th>
      <td mat-cell *matCellDef="let registro" class='m-card-title'>
        <strong class='has_label_on_mobile' [attr.data-label]="t('matcheos.table.id')+ ':'"></strong>
        <span class="text-base">{{registro.id}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="descripcion">
      <th *matHeaderCellDef mat-sort-header>
        {{t('mergeo.table.descripcion')}}</th>
      <td mat-cell *matCellDef="let registro" class='m-card-title'>
        <span class="text-base">{{registro.descripcion|titlecase}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="origen">
      <th *matHeaderCellDef mat-sort-header>{{t('mergeo.table.origen')}}
      </th>
      <td mat-cell *matCellDef="let registro" class='m-card-title'>
        <strong class='has_label_on_mobile' [attr.data-label]="t('mergeo.table.origen') + ':'"></strong>
        {{registro.origen}}
      </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let registro" class='m-card-title'>
        <button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{item:registro}" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail0">
      <td mat-cell *matCellDef="let registro" class='m-card-title'>
        <strong class='has_label_on_mobile' [attr.data-label]="t('matcheos.table.masterId')+ ':'"></strong>
        <span>{{registro.master}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail1">
      <td mat-cell *matCellDef="let registro" class='m-card-title'>
        <strong class='has_label_on_mobile' [attr.data-label]="t('matcheos.table.id')+ ':'"></strong>
        <ng-container *ngFor="let item of registro.matcheos">
          <span>{{item.idOrigen}}</span>
          <br>
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail2">
      <td mat-cell *matCellDef="let registro" class='m-card-title'>
        <ng-container *ngFor="let item of registro.matcheos">
          <span>{{item.descripcion|titlecase}}</span><br>
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail3">
      <td mat-cell [attr.colspan]='2' *matCellDef="let registro; let i = dataIndex" class='m-card-title'>
        <strong class='has_label_on_mobile' [attr.data-label]="t('mergeo.table.origen') + ':'"></strong>
        <ng-container *ngFor="let item of registro.matcheos">
          {{item.origen}}<br>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
      class="bg-primary-accent dark:bg-accent-accent">
    </tr>
    <tr mat-row *matRowDef="let registro; columns: displayedColumns;">
    </tr>
    <tr mat-row
      *matRowDef="let registro; columns: ['expandedDetail0','expandedDetail1','expandedDetail2','expandedDetail3']"
      class="dark:bg-black-shade-200 bg-primary-accent " [ngClass]='registro.matcheos.length>0? "":"hidden"'>
    </tr>
  </table>
  <mat-paginator *ngIf="pagination$| async as Pagination" [length]="Pagination.count" [pageSize]="Pagination.page_size"
    [pageSizeOptions]="[5, 10, 25, 100]" (page)="handlePageEvent($event)">
  </mat-paginator>
</div>
<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-item="item">
    <a [routerLink]="['./edit']" [queryParams]="{master: item.master,search: item.descripcion}"
      routerLinkActive="router-link-active">
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>{{'matcheos.table.editar'|transloco}}</span>
      </button>
    </a>
    <button mat-menu-item (click)='deleteMaster(item.master)'>
      <mat-icon>delete</mat-icon>
      <span>{{'matcheos.table.deleteMaster'|transloco}}</span>
    </button>
    <ng-container *ngFor="let matcheo of item.matcheos">
      <button mat-menu-item class="flex flex-1 items-center w-auto h-auto py-1" (click)='desMatchProf(matcheo.id)'>
        <mat-icon>delete</mat-icon>
        <span class="whitespace-pre-line text-sm">{{'matcheos.table.unmatch'|transloco: { matcheo:
          (matcheo.descripcion|titlecase)+' ('+matcheo.idOrigen+')'} }}</span>
      </button>
    </ng-container>
  </ng-template>
</mat-menu>
