<ng-container [ngTemplateOutlet]="dataTemplate"
  [ngTemplateOutletContext]="{registros: profesionales$|async, title: 'sidenav.profesionales'}">
</ng-container>

<ng-container [ngTemplateOutlet]="dataTemplate"
  [ngTemplateOutletContext]="{registros: equipos$|async, title: 'sidenav.equipos'}">
</ng-container>

<ng-container [ngTemplateOutlet]="dataTemplate"
  [ngTemplateOutletContext]="{registros: especialidades$|async, title: 'sidenav.especialidades'}">
</ng-container>


<ng-container [ngTemplateOutlet]="dataTemplate"
  [ngTemplateOutletContext]="{registros: estudios$|async, title: 'sidenav.equipos'}">
</ng-container>


<ng-container [ngTemplateOutlet]="dataTemplate" [ngTemplateOutletContext]="{registros: os$|async, title: 'sidenav.os'}">
</ng-container>
<ng-container [ngTemplateOutlet]="dataTemplate" [ngTemplateOutletContext]="{registros: pacientes$|async, title: 'sidenav.pacientes'}">
</ng-container>

<ng-template #dataTemplate let-registros='registros' let-title='title'>
  <div class="flex flex-1 space-y-4 py-4 flex-col px-8 ">
    <div class="flex flex-1 border-primary-500 border-l-4 pl-3 my-1">
      <span class="text-3xl">{{title|transloco}}</span>
    </div>
    <div class="flex flex-1 flex-col p-1 space-y-2 overflow-auto" style="max-height: 300px;">
      <span *ngIf="registros?.length === 0">{{'ultimos'|transloco}}</span>
      <app-item-tarjeta class="flex flex-1 w-full " *ngFor="let registro of registros">
        <div class="flex flex-1">
          <div class="flex flex-1 flex-col">
            <span class="text-base font-medium">{{registro.descripcion|titlecase}}</span>
            <span class="text-sm ">{{registro.idOrigen}}</span>
            <span class="text-sm ">{{registro.origen}}</span>
            <span class="text-base ">{{registro.fechaCreacion| localizedDate:'dd/MM/yyyy HH:mm:ss'}}</span>
          </div>
        </div>
      </app-item-tarjeta>
    </div>
  </div>
</ng-template>
