<div class="flex flex-1 space-y-4 py-4 flex-col px-8 mb-4">
  <div
    class="flex flex-1 border items-center rounded-md space-x-4 dark:border-primary-accent border-accent-accent p-3 shadow-sm">
    <div class="flex flex-none  items-start justify-center ">
      <div class="flex flex-none py-2 px-3 bg-primary-500 dark:bg-accent-500 rounded-md">
        <mat-icon class="text-white text-5xl w-auto h-auto">contacts</mat-icon>
      </div>
    </div>
    <div class="flex flex-1 flex-col">
      <span class="text-2xl font-medium">{{'sidenav.roles'|transloco}}</span>
    </div>
    <div class="flex flex-none flex-col mobile:hidden">
      <ng-container [ngTemplateOutlet]="buttonCrear">
    </ng-container>
    </div>
  </div>
  <div class="flex flex-1">
    <app-roles-table [columns]='["edit"]' ></app-roles-table>
  </div>
  <div class="hidden mobile:flex fixed bottom-2 self-center">
    <ng-container [ngTemplateOutlet]="buttonCrear">
    </ng-container>
  </div>
</div>


<ng-template #buttonCrear>
  <button (click)='nuevoRol()' class="p-4 text-lg bg-primary-accent dark:bg-accent-800 rounded-md">Crear nuevo</button>
</ng-template>
