:host{
  width: 100%;
  height: 100%;
}

::ng-deep div.mat-expansion-panel-body {
  padding: 0px !important;
}
::ng-deep .mat-expansion-indicator::after{
  border-color: black ;
}

::ng-deep .dark .mat-expansion-indicator::after{
  border-color: white ;
}
