<mat-drawer-container #container hasBackdrop=false autosize>
  <mat-drawer #drawer [opened]='(sideExpanded$|async) && isLogged'
    class="bg-primary-accent dark:bg-accent-accent shadow-none" mode="side">
    <div class="flex flex-col space-y-3 antialiased ">
      <mat-toolbar style='background-color: inherit;'>
        <div class="flex  flex-none justify-center mx-auto">
          <ng-container [ngTemplateOutlet]="menuButton" [ngTemplateOutletContext]="{class: 'text-4xl'}">
          </ng-container>
        </div>
      </mat-toolbar>
      <div class="flex flex-col items-center space-x-4 mx-2">
        <div class="flex flex-none select-none bg-primary-500 dark:bg-accent-500 p-2 rounded-full shadow-sm">
          <mat-icon class="w-auto h-auto text-6xl self-center text-white">engineering</mat-icon>
        </div>
      </div>
      <div class="flex flex-1 flex-col px-2 space-y-2">
        <ng-container [ngTemplateOutlet]="links"
          [ngTemplateOutletContext]="{title: 'home', icon:'home', url:'', class:'px-1 shadow-md'}">
        </ng-container>
        <ng-container [ngTemplateOutlet]="links"
          [ngTemplateOutletContext]="{title: 'logout', icon:'logout', url:'/logout', class:'px-1 shadow-md'}">
        </ng-container>
      </div>
      <mat-divider></mat-divider>
      <div class="px-2 flex-col scrollbar scrollbar-thin scrollbar-track-primary-200 scrollbar-thumb-primary-500"
        style="min-width: 250px;max-height: 70vh;">
        <mat-accordion class="h-12 ">
          <ng-container *ngFor="let menu of menuData">
            <ng-container [ngTemplateOutlet]="buttonNav"
              [ngTemplateOutletContext]="{texto: menu.title, subs:menu.subs}">
            </ng-container>
          </ng-container>
        </mat-accordion>
      </div>
    </div>
  </mat-drawer>
  <div class="min-h-screen">
    <app-lang-changer></app-lang-changer>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>


<ng-template #scrollTopTemplate>
  <div class="flex flex-col">
    <app-scroll-up></app-scroll-up>
    <ng-container *ngIf='isLogged' [ngTemplateOutlet]="menuButton" [ngTemplateOutletContext]="{class: 'text-2xl'}">
    </ng-container>
    <app-dark-mode></app-dark-mode>
    <img class="w-8" src="assets/gif_kozaca.gif">
  </div>
</ng-template>



<ng-template #menuButton let-class='class'>
  <button matRipple class="flex flex-none px-1 rounded-full items-center" (click)='triggerChange()'>
    <mat-icon [class]="'w-auto mx-auto h-auto self-center dark:text-white text-black ' + class">menu</mat-icon>
  </button>
</ng-template>


<ng-template #buttonNav let-texto='texto' let-subs='subs'>
  <mat-expansion-panel class="bg-primary-accent dark:bg-accent-accent hover:filter hover:saturate-150"
    #matExpansionPanel [ngClass]='matExpansionPanel.expanded? "filter saturate-150":""'
    *transloco="let t ; read: 'sidenav'">
    <mat-expansion-panel-header class="h-12 px-4 ">
      <mat-panel-title>
        {{t(texto)}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="flex flex-1 flex-col  ">
      <ng-container *ngFor="let sub of subs">
        <ng-container [ngTemplateOutlet]="links"
          [ngTemplateOutletContext]="{title: sub.title, icon:sub.icon, url:sub.url, class: 'pl-4 space-x-2'}">
        </ng-container>
      </ng-container>
    </div>
  </mat-expansion-panel>
</ng-template>


<ng-template #links let-url='url' let-title='title' let-icon='icon' let-class='class'>
  <ng-container *transloco="let t ; read: 'sidenav'">
    <a class="bg-primary-accent w-full dark:bg-accent-accent hover:filter hover:saturate-150" [routerLink]='url'>
      <div [class]="'flex flex-1 h-12 items-center space-x-2 '+class ">
        <mat-icon class="text-primary-200 dark:text-accent-300">{{icon}}</mat-icon>
        <span>{{t(title)}}</span>
      </div>
    </a>
  </ng-container>
</ng-template>
