<ng-template #editDialog>
  <div class="flex flex-1 space-y-2 flex-col mb-4">
    <div class="flex flex-1 justify-end">
      <button (click)='close()' mat-icon-button><mat-icon>close</mat-icon></button>
    </div>
    <div
      class="flex flex-1 border items-center rounded-md space-x-4 dark:border-primary-accent border-accent-accent p-3 mx-4 shadow-sm">
      <div class="flex flex-none  items-start justify-center ">
        <div class="flex flex-none py-2 px-3 bg-primary-500 dark:bg-accent-500 rounded-md">
          <mat-icon class="text-white text-5xl w-auto h-auto">settings</mat-icon>
        </div>
      </div>
      <div class="flex flex-1 flex-col">
        <span class="text-2xl font-medium">{{'sidenav.direcciones'|transloco}}</span>
      </div>
    </div>
    <div class="flex flex-1 pt-8 px-4">
      <app-direcciones-form></app-direcciones-form>
    </div>

    <div class="flex flex-1 pt-8 px-8 justify-end">
      <ng-container *ngIf="{value:statusForm$|async} as Status">
        <div class="flex flex-none" [matTooltip]="'disabled'|transloco" [matTooltipDisabled]='Status.value !== ""'>
          <button (click)='editarDir()' matRipple mat-stroked-button color='primary' [disabled]='!Status.value'>
            {{'roles.guardarCambios'|transloco}}
          </button>
        </div>
      </ng-container>
    </div>
  </div>


</ng-template>
