<div class="flex flex-1 flex-col  w-80 mobile:w-full bg-transparent ">
  <div [class]="'flex flex-1 px-5 py-1 items-center rounded-t-md shadow-lg '+data.headerClass ">
    <div class="flex flex-1">
      <span class="font-semibold text-base">{{data.header|transloco}}</span>
    </div>
    <div class="flex flex-none self-end  ">
      <button (click)='close()' matRipple class="flex rounded-lg flex-none">
        <mat-icon class="text-base text-white">close</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex flex1 p-5 shadow-lg rounded-b-md dark:bg-black-shade-100 bg-gray-50 bg-opacity-50 blur dark:text-white text-black text-base">
    {{data.texto|transloco}}
  </div>
</div>
