<div class="flex flex-1 flex-col  w-80 mobile:w-full bg-transparent">
  <div [class]="'flex flex-1 px-5 py-1 items-center rounded-t-md  '+data.headerClass ">
    <div class="flex flex-1">
      {{data.header}}
    </div>
    <div class="flex flex-none self-end  ">
      <button (click)='close()' matRipple class="flex rounded-lg flex-none">
        <mat-icon class="text-base text-white">close</mat-icon>
      </button>
    </div>
  </div>
  <div class="flex flex1 p-5 bg-black-shade-50 bg-opacity-50 blur  text-black rounded-b-md">
    {{data.mensaje}}
  </div>
</div>
