
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
$mat-primary: (
  50 : #e0eef4,
  100 : #b3d4e5,
  200 : #80b8d3,
  300 : #4d9bc1,
  400 : #2685b4,
  500 : #0070a7,
  600 : #00689f,
  700 : #005d96,
  800 : #00538c,
  900 : #00417c,
  A100 : #a9d0ff,
  A200 : #76b4ff,
  A400 : #4398ff,
  A700 : #2a8aff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);
$mat-accent: (
  50 : #e9edee,
  100 : #c8d2d5,
  200 : #a3b4ba,
  300 : #7e969e,
  400 : #628089,
  500 : #466974,
  600 : #3f616c,
  700 : #375661,
  800 : #2f4c57,
  900 : #203b44,
  A100 : #89dfff,
  A200 : #56d1ff,
  A400 : #23c3ff,
  A700 : #09bcff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$integrador-primary: mat.define-palette($mat-primary);
$integrador-accent: mat.define-palette($mat-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$integrador-warn: mat.define-palette(mat.$red-palette, A200, A100, A100);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$integrador-theme: mat.define-light-theme((
  color: (
    primary: $integrador-primary,
    accent: $integrador-accent,
    warn: $integrador-warn,
  )
));
$integrador-dark-theme: mat.define-dark-theme((
  color: (
    primary: $integrador-accent,
    accent:  $integrador-primary,
    warn: $integrador-warn,
  )
));

.light{
  @include mat.all-component-themes($integrador-theme);
}

.dark {
  @include mat.all-component-colors($integrador-dark-theme);
}
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button{
  outline: none !important;
}

.mat-form-field-wrapper{
  width: 100% !important;
}
.mat-snack-bar-container{
  padding: 0px !important;
  min-height: unset !important;
  background-color: transparent !important;
  border-radius: unset !important;
  max-width: unset !important;
  min-width: unset !important;
  width: auto !important;
  height: auto !important;
  background: unset !important;
}




table {
  width:100%;
}
table tr:last-child td{
  border:0
}
.mat-table
{
  background-color:transparent!important;
}
// Mat table responsive para celular
@media screen and (max-width: 960px) {
  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0px !important;
  }
  th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    padding-right: 0px !important;
  }
  .mat-sort-header-arrow {
    margin: 0px  !important;
  }
  .mat-sort-header-content {
    margin-left: 0px !important;
  }
	.mat-elevation-z8 {
	  background: transparent;
	  box-shadow: none;
	}

	.mat-header-row {
	  display: none;
	}

	tbody {
	  display: block;
	  width: 100%;
	}

	.mat-table {
	  background: transparent;
	  * {
		box-sizing: border-box;
	  }

	  .mat-row {
		display: block;
		overflow: hidden;
		height: auto;
		position: relative;
		clear: both;
		box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);

		border-radius: 3px;
		+ .mat-row {
		  margin-top: 24px;
		}
	  }

	  .mat-cell {
		display: block;
		width: 100%;
		margin: 16px 0;
		border: 0 none;
		&:first-child {
		  &:before {
			display: none;
		  }
		}
		&.m-card-sub-title {
		  margin-top: -8px;
		  padding: 0 48px 0 16px;

		}
	  }

	  .has_label_on_mobile {
		padding: 0 48px 0 16px;
		display: block;
		width: 100%;
		padding: 0 16px;
		margin: 16px 0;
		border: 0 none;
		&:before {
		  content: attr(data-label);
		  display: inline;
		}
	  }

	  .mat-column-star {
		width: auto;
		padding: 8px 0 0 !important;
		margin: 0;
		position: absolute;
		top: 0;
		right: 0;
		&:before {
		  display: none;
		}
	  }
	}
  th, td {
    padding: 15px;
    text-align: center !important;
    vertical-align: middle;

  }
}
  th, td {
    text-align: start;
    vertical-align: middle;
  }
  th:first-of-type{
    padding-left: 24px;
  }
  .animacion{
    background-image: url('/assets/animation.svg');
  }
