<div class="flex flex-1 space-y-4 py-4 flex-col px-8">
  <div
    class="flex flex-1 border items-center rounded-md space-x-4 dark:border-primary-accent border-accent-accent p-3 shadow-sm">
    <div class="flex flex-none  items-start justify-center ">
      <div class="flex flex-none py-2 px-3 bg-primary-500 dark:bg-accent-500 rounded-md">
        <mat-icon class="text-white text-5xl w-auto h-auto">settings</mat-icon>
      </div>
    </div>
    <div class="flex flex-1 flex-col">
      <span class="text-2xl font-medium">{{'roles.nuevo'|transloco}}</span>
    </div>
  </div>
  <div class="flex flex-1 pt-8 px-8">
    <app-usuarios-form></app-usuarios-form>
  </div>
  <div class="flex flex-1 pt-8 px-8 justify-end">
    <ng-container *ngIf="{value:statusForm$|async} as Status">
      <div class="flex flex-none" [matTooltip]="'disabled'|transloco" [matTooltipDisabled]='Status.value !== ""'>
        <button (click)='editarUsuario()' matRipple mat-stroked-button color='primary' [disabled]='!Status.value'>
          {{'roles.guardarCambios'|transloco}}
        </button>
      </div>
    </ng-container>
  </div>
</div>
