<app-title-changer [title]='("title"|transloco) + " | " + ("sidenav.estatus"|transloco)'></app-title-changer>
<div class="flex flex-1 space-y-4 py-4 flex-col px-8">
  <div
    class="flex flex-1 border items-center rounded-md space-x-4 dark:border-primary-accent border-accent-accent p-3 shadow-sm">
    <div class="flex flex-none  items-start justify-center ">
      <div class="flex flex-none py-2 px-3 bg-primary-500 dark:bg-accent-500 rounded-md">
        <mat-icon class="text-white text-5xl w-auto h-auto">info</mat-icon>
      </div>
    </div>
    <div class="flex flex-1 flex-col">
      <span class="text-2xl font-medium">{{'sidenav.estatus'|transloco}}</span>
      <span class="text-lg">{{'sidenav.estatusSub'|transloco}}</span>
    </div>
  </div>
  <ng-container *ngIf="estatus$|async as Estatus">
    <div class="flex flex-1 flex-col   mt-2">
      <app-item-tarjeta class="my-1" *ngFor='let estatus of Estatus'>
        <div class="flex flex-col space-y-2 flex-1 ml-4 ">
          <span class="text-base font-medium">
            {{estatus.nombre|titlecase}}
          </span>
          <span class="text-sm">
            {{'estatus.caidas'|transloco}}: <span class="font-medium">{{estatus.caidas}}</span>
          </span>
          <div class="flex flex-none">
            <span class="text-sm text-red-400 cursor-pointer" [cdkCopyToClipboard]="estatus.error.descripcion" (click)='copied()' [matTooltip]="estatus.error.descripcion"
              *ngIf='estatus.error?.descripcion'>
              {{estatus.error?.fechaCreacion| localizedDate:'dd/MM/yyyy HH:mm:ss'}}
              <span class="font-bold">{{estatus.error?.descripcion|slice:0:50}}</span>
            </span>
          </div>
          <span class="text-sm">
            {{'estatus.fecha'|transloco}}:
            <span class="font-medium">{{estatus.cambio| localizedDate:'dd/MM/yyyy HH:mm:ss'}}</span>
          </span>
        </div>
        <div class="flex flex-none items-center mobile:pl-2 mobile:mt-3">
          <mat-checkbox color='primary' [checked]="estatus.habilitado"
            (change)="changeHabilit(estatus.id, !estatus.habilitado)">{{'estatus.habilitacion'|transloco}}
          </mat-checkbox>
        </div>
      </app-item-tarjeta>
    </div>
  </ng-container>
</div>
